In [2]:
import pandas as pd
import numpy as np

In [3]:
df= pd.read_csv('spotify_millsongdata.csv')
df

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...
...,...,...,...,...
21994,Yes,Circus Of Heaven,/y/yes/circus+of+heaven_20148446.html,The day the Circus of Heaven came to town \r\...
21995,Yes,Close To The Edge,/y/yes/close+to+the+edge_20148493.html,A seasoned witch could call you from the depth...
21996,Yes,Dreamtime,/y/yes/dreamtime_20188631.html,Dreamtime begins \r\nWhere every song is the ...
21997,Yes,Everydays,/y/yes/everydays_20148438.html,Look at the sad goodbyes \r\nEveryday's are k...
21998,Yes,Face To Face,/y/yes/face+to+face_20148420.html,Here we are trying to mend all the broken hear...

In [4]:
df.shape

(21999, 4)

In [5]:
df.head()

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [6]:
df.tail()

,artist,song,link,text
21994,Yes,Circus Of Heaven,/y/yes/circus+of+heaven_20148446.html,The day the Circus of Heaven came to town \r\...
21995,Yes,Close To The Edge,/y/yes/close+to+the+edge_20148493.html,A seasoned witch could call you from the depth...
21996,Yes,Dreamtime,/y/yes/dreamtime_20188631.html,Dreamtime begins \r\nWhere every song is the ...
21997,Yes,Everydays,/y/yes/everydays_20148438.html,Look at the sad goodbyes \r\nEveryday's are k...
21998,Yes,Face To Face,/y/yes/face+to+face_20148420.html,Here we are trying to mend all the broken hear...

In [7]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [8]:
df.drop(['link'],axis=1,inplace=True)

In [9]:
df.shape

(21999, 3)

In [10]:
df.head()

,artist,song,text
0,ABBA,Ahe's My Kind Of Girl,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante","Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,Making somebody happy is a question of give an...

In [11]:
df.head(8)

,artist,song,text
0,ABBA,Ahe's My Kind Of Girl,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante","Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,Making somebody happy is a question of give an...
5,ABBA,Burning My Bridges,"Well, you hoot and you holler and you make me ..."
6,ABBA,Cassandra,Down in the street they're all singing and sho...
7,ABBA,Chiquitita,"Chiquitita, tell me what's wrong \r\nYou're e..."

# Text Cleaning / Text Processing

In [12]:
df['text']= df['text'].str.lower().replace(r'^\w\s',' ').replace(r'\n', ' ',regex=True)

In [13]:
import nltk
from nltk.stem.porter import PorterStemmer

In [14]:
from nltk.tokenize import word_tokenize

In [15]:
stemmer = PorterStemmer()

In [16]:
def token (txt):
    token=nltk.word_tokenize(txt)
    a = [stemmer.stem(w) for w in token]
    return " ".join(a)

In [17]:
df['text'].apply(lambda x: token(x))

0        look at her face , it 's a wonder face and it ...
1        take it easi with me , pleas touch me gentli l...
2        i 'll never know whi i had to go whi i had to ...
3        make somebodi happi is a question of give and ...
4        make somebodi happi is a question of give and ...
                               ...
21994    the day the circu of heaven came to town local...
21995    a season witch could call you from the depth o...
21996    dreamtim begin where everi song is the perfect...
21997    look at the sad goodby everyday 's are kill ti...
21998    here we are tri to mend all the broken heart i...
Name: text, Length: 21999, dtype: object

In [18]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [19]:
tfid = TfidfVectorizer(analyzer= 'word', stop_words= 'english')

In [20]:
matrix=tfid.fit_transform(df['text'])
matrix

<21999x50409 sparse matrix of type '<class 'numpy.float64'>'
	with 1170618 stored elements in Compressed Sparse Row format>

In [21]:
similar = cosine_similarity(matrix)

In [22]:
similar[0]

array([1.00000000e+00, 1.50929060e-03, 9.96809551e-03, ...,
       8.59262095e-04, 5.38501071e-02, 5.03005192e-02])

In [23]:
df[df['song']=='Bang'].index[0]

3

In [24]:
def recommender (song_name):
    idx=df[df['song']==song_name].index[0]
    distance = sorted(list(enumerate(similar[idx])),reverse= True , key =lambda x:x[1])
    song= []
    for s_id in distance[1:21]:
        song.append(df.iloc[s_id[0]].song)
    return song

In [25]:
 recommender("As Good As New")

['Ma Baker',
 'Auntie -',
 "Ma' Dear Ma' Dear",
 'Ma',
 'Mama Weer All Crazee Now',
 'She Never Told Me She Was A Mime',
 'Get The Funk Out Of My Face',
 'My Time',
 "Look What They've Done To My Song",
 'Numa Numa (English Version)',
 "What'd I Say",
 "Midsummer Nights Dreamin'",
 'Creda-Ma',
 "She's My Baby",
 'Recovery',
 'Hood Mentality',
 'Juice',
 'Another Midnight',
 'Strictly Business',
 'I Love You Baby']

In [ ]:
recommender("In Your Eyes")

["I Can't Take My Eyes Off You",
 'Under My Umbrella',
 'Eyes Of Innocence',
 'The Eyes Of Love',
 'Mirror, Mirror (Look Into My Eyes)',
 'Blue Eyes',
 'Through My Eyes',
 'Look Through My Eyes',
 'These Eyes',
 'In The Heat Of The Night',
 'I Can See It In Your Eyes',
 'A Thousand Lies',
 'Moonlight Eyes',
 'Damn Your Eyes',
 "I'm Looking For Blue Eyes",
 'Close Your Eyes',
 'Eyes Of The World',
 'Angel Eyes',
 'Blue Eyes',
 'When I Close My Eyes']

In [27]:
import pickle

In [ ]:
pickle.dump(similar,open('similarity','wb'))

In [ ]:
pickle.dump(df,open('df','wb'))